# vs 프로젝트 및 솔루션 설정 관리하는 폴더
.vs/


#  개발 중 로컬 환경에서 생성되는 임시 파일 or 컴파일 및 빌드 과정에서 생성되는 파일
*.ilk         # 컴파일된 중간 데이터 파일 
*.pdb         # 프로그램 디버그 정보 파일
*.db          # 디버그 정보 파일
*.obj         # 컴파일된 개체 파일
*.log         # 로그 파일
*.exe         # 실행 파일


# 컴파일된 실행 파일/디버그 정보를 포함하여 소스코드 변경과 무관한 폴더
postfix-calc/x64/Debug
